@model TeamCityTheatre.Web.Views.Home.DashboardViewModel

@section scripts {
  <script>
    window.settings = {
      "pollingTimeOutInMilliSeconds": @Model.PollingTimeOutInMilliSeconds
    };
  </script>
  <script src="~/js/dashboard.js"></script>
}

@section styles {
  <link href="~/css/dashboard.css" rel="stylesheet" />
}

<div id="root"></div>