<div id="projects-wrapper" ng-controller="projectTreeController as vm">
  <!-- Inline HTML template so that the project tree can be built recursively -->
  <script type="text/ng-template" id="project.html">
    <button class="toggle-children-button btn btn-sm btn-default" ng-click="vm.toggleProjectChildren(project)">
      <i class="expand-children-icon fa fa-plus-circle"></i>
      <i class="collapse-children-icon fa fa-minus-circle"></i>
    </button>
    <button ng-click="vm.showProjectDetails(project)" class="project-name btn btn-sm" ng-class="{ 'btn-primary': !vm.shared.selectedProject || project.id !== vm.shared.selectedProject.id, 'btn-warning': vm.shared.selectedProject && project.id === vm.shared.selectedProject.id }">
      {{ project.name }}
    </button>
    <ul class="project-children" ng-show="project.showChildren">
      <li class="project" ng-repeat=" project in project.children | orderBy: 'name'" ng-class="vm.getProjectClasses(project)" ng-include="'project.html'"></li>
    </ul>
  </script>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <h2>Available projects</h2>
      </h3>
    </div>
    <div class="panel-body">
      <ul class=" list-unstyled">
        <li id="root" class="project" ng-class="vm.getProjectClasses(project)" ng-repeat="project in [vm.rootProject]" ng-include="'project.html'">
      </ul>
    </div>
  </div>

</div>