<div id="views-wrapper" ng-controller="viewListController as vm">

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        Views
      </h2>
    </div>
    <div class="panel-body">
      <div class="alert alert-info" ng-show="vm.views.length === 0">
        <span><i class="fa fa-info-circle"></i> You have not created any views yet!</span>
      </div>
      <div>
        <button class="add-view-button btn btn-success" ng-click="vm.openEditViewDialog({ id: '', name: 'New view', defaultNumberOfBranchesPerTile: 5 })"><i class="fa fa-plus"></i> Create a new view</button>
      </div>
    </div>

    <!-- Table -->
    <table id="views-list" class="table table-striped" ng-show="vm.views.length > 0">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="view" ng-class="{ 'success': vm.shared.selectedView.id === view.id }" ng-repeat="view in vm.views | orderBy: 'name'">
          <td class="view-name" ng-click="vm.shared.selectedView = view">{{ view.name }}</td>
          <td>
            <button class="configure-view-button btn btn-primary" ng-click="vm.shared.selectedView = view"><i class="fa fa-cogs"></i> Configure</button>
            <button class="edit-view-button btn btn-default" ng-click="vm.openEditViewDialog(view)" title="Edit" tooltip="Edit" tooltip-placement="top"><i class="fa fa-pencil"></i></button>
            <button class="delete-view-button btn btn-danger" ng-click="vm.openDeleteViewDialog(view)" title="Delete" tooltip="Delete" tooltip-placement="top"><i class="fa fa-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
