#views .view {
  display: block;
  padding: 25px;
  margin: 25px;
  font-size: 12px;
}

@media (min-width: 480px) {
  #views .view { font-size: 24px; }
}

@media (min-width: 768px) {
  #views .view { font-size: 56px; }
}

#views .view .badge { font-size: 1em; }

#view { text-align: center; }

#tiles { width: 100%; }

#tiles .tiles-wrapper { margin: 0.25rem; }

.tile {
  color: #fff;
  padding: 10px;
  display: inline-block;
  /* 
    ###### TITLE 
  */
  /*
    ###### BUILDS
  */
}

.tile.height-1 { height: 185px; }

.tile.height-2 { height: 270px; }

.tile.height-3 { height: 355px; }

.tile.height-4 { height: 440px; }

.tile.height-5 { height: 525px; }

.tile.height-6 { height: 610px; }

.tile.height-7 { height: 695px; }

.tile.height-8 { height: 780px; }

.tile.height-9 { height: 865px; }

.tile.height-10 { height: 950px; }

.tile .tile-title {
  display: block;
  font-size: 35px;
  text-align: center;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tile .tile-title .tile-status-icon { display: none; }

.tile.success { background: #499649; }

.tile.error { background: #b2423f; }

.tile .tile-builds .tile-build {
  -webkit-box-shadow: 3px 3px 10px 3px rgba(71, 71, 71, 0.5);
  -moz-box-shadow: 3px 3px 10px 3px rgba(71, 71, 71, 0.5);
  box-shadow: 3px 3px 10px 3px rgba(71, 71, 71, 0.5);
  border-radius: 15px;
}

.tile .tile-builds .tile-build .progress {
  height: 70px;
  background-color: #888;
}

.tile .tile-builds .tile-build .progress .progress-bar {
  text-align: left;
  padding-left: 5px;
  padding-top: 3px;
}

.tile .tile-builds .tile-build .progress .progress-bar.progress-bar-success {
  background-color: #5cb85c;
  color: #eee;
}

.tile .tile-builds .tile-build .progress .progress-bar.progress-bar-danger {
  background-color: #d9534f;
  color: #eee;
}

.tile .tile-builds .tile-build .progress .progress-bar .branch {
  font-size: 40px;
  line-height: 45px;
  display: block;
  white-space: nowrap;
  overflow: visible;
}

.tile .tile-builds .tile-build .progress .progress-bar .remaining,
.tile .tile-builds .tile-build .progress .progress-bar .execution-timestamp {
  display: block;
  font-size: 15px;
  white-space: nowrap;
  overflow: visible;
}