#config {
  display: initial;
}

  #config #projects-section {
  }

#views-wrapper #views-table .view .view-name {
        vertical-align: middle;
      }

#views-wrapper #views-table .view .view-name:hover {
          background: #d1e4f5;
          cursor: pointer;
          color: #444 !important;
        }

#views-wrapper #views-table .view.selected {
        background-color: #337ab7;
      }

#views-wrapper #views-table .view.selected > .view-name {
          color: #eee;
        }