#config {
  display: initial;
}

  #config #projects-section {

  }

#views-wrapper #views-table .view .view-name,
      #views-wrapper #views-table .view .view-branches-per-tile {
        vertical-align: middle;
      }

#views-wrapper #views-table .view:hover {
        background: #d1e4f5;
        cursor: pointer;
        color: #444;
      }

#views-wrapper #views-table .view.selected {
        background-color: #337ab7;
        color: #eee;
      }

#views-wrapper #views-table .view.selected:hover { color: #eee; }

#projects-wrapper .project {
    margin: 5px;
  }

#projects-wrapper .project > .toggle-children-button {
      visibility: hidden;
    }

#projects-wrapper .project > .project-name {
      margin-left: 5px;
    }

#projects-wrapper .project > .project-children {
      list-style: none;
    }

#projects-wrapper .project.has-children > .toggle-children-button {
      visibility: visible;
    }