<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TeamCity Theatre</a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a asp-controller="Home" asp-action="Dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
    </ul>
  </div>
</nav>